/*
==  THEME DETAILS  ===================================================================
    
    Theme Name: Marlin lite
    Theme URI: http://volthemes.com/theme/marlin-lite/
    Description: Marlin Lite is an elegant, clean and modern WordPress theme. Built with Bootstrap framework which is absolutely responsive layout and perfect look on any device. The content focused design with straightforward functionality and provides you more flexibility and ease-of-use for your site. It can be used for creative bloggers, personal and also suitable for photographers, business, corporate and other professionals websites. Marlin Lite offers additional two custom widget i.e. About and Latest Posts and including changing the color scheme. The theme options are powered by Customizer. You can check out the demo at http://volthemes.com/demo/marlin-lite/ for a closer look.
	Version: 1.0.6

    Author: VolThemes
    Author URI: http://volthemes.com/

	License: GNU General Public License v2 or later
	License URI: http://www.gnu.org/licenses/gpl-2.0.html

	Text Domain: marlin-lite
	Domain Path: /languages/
	
	Tags: blog, food-and-drink, photography, two-columns, right-sidebar, translation-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, post-formats, sticky-post, theme-options, threaded-comments

	======================================================================================
*/

body {
    background-color: #f9f9f9;
    color: #333;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    line-height: 25px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 15px 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
h1 {font-size: 28px;}
h2 {font-size: 26px;}
h3 {font-size: 24px;}
h4 {font-size: 22px;}
h5 {font-size: 20px;}
h6 {font-size: 18px;}
p {margin: 0 0 20px 0;}

img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
a {
    color: #f88e86;
    text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	outline: none;
}
a:hover,
a:focus {
    color: #f88e86;
    outline: none;
    text-decoration: none;
}
a:active {
    outline: none;
}
body a img {
    transition: all 0.5s ease;
}
body a img:hover {
    opacity: 0.8;
}
iframe,
select {
    max-width: 100%;
}
input:focus {
    outline: none
}
input,
textarea {
    max-width: 100%;
}
.widget ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.widget ul ul {
    padding-left: 15px;
}
.searchform input {
    border: 1px solid #ddd;
    line-height: 35px;
    padding: 0 10px;
    width: 100%;
}
.widget select {
    width: 100%;
}

/*-------------------------------*/
/*          WORDPRESS CORE
/*-------------------------------*/
.sticky {} .screen-reader-text {} .gallery-caption {} .bypostauthor {} .alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
}
a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.wp-caption {
    max-width: 100%;
    text-align: center;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: auto;
}
.wp-caption p.wp-caption-text {
    font-size: inherit;
    font-style: italic;
    color: inherit;
    line-height: 17px;
    margin: 8px 0 0;
}
table,
th,
td {
    border: 1px solid rgba(0, 0, 0, 0.08);
}
th,
td {
    padding: 0.4em;
    text-align: center;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    border: none;
    margin: 0 0 1.6em;
    table-layout: auto;
    width: 100%;
}
th {
    border-width: 0 1px 1px 1px;
}
td {
    border-width: 0 1px 1px 1px;
}
th {
    border-width: 0 1px 1px 0px;
}
td {
    border-width: 0 1px 1px 0px;
}
tbody tr th {
    font-weight: 400;
}
tbody tr:first-child th {
    border-top-width: 1px;
}
tr td:first-child,
tr th:first-child {
    border-left-width: 1px;
}
table tbody tr:first-child td,
table thead tr:first-child th,
table tbody tr:first-child td,
table thead tr:first-child th {
    border-top-width: 1px;
}
table thead + tbody tr:first-child td,
table thead + tbody tr:first-child td,
table tfoot + tbody tr:first-child td {
    border-top-width: 0;
}
blockquote {
    border-left: 5px solid #000;
}
label {
    font-weight: 500;
}
dt,
dd {
    line-height: inherit;
}

/* -------------------------------------------------- */
/* Forms
/* -------------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid #ccc;
	border-radius: 3px;
	background: #ccc;
	color: #fff;
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	padding: 4px 15px;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	opacity: 0.6;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	border-radius: 3px;
	color: #666;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}

/*--- Contact Form 7 ---*/
.wpcf7-form .wpcf7-form-control {
    border: 1px solid #e6e6e6;
    min-width: 50%;
}
.wpcf7 input[type="text"], 
.wpcf7 input[type="email"], 
.wpcf7 input[type="url"], 
.wpcf7 input[type="password"],
.wpcf7 textarea {
    background-color: #f5f5f5;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    outline-color: transparent;
    outline-style: none;
    padding: 8px;
    width: 100%;
}
.wpcf7 input[type="submit"] {
	border-radius: 0;
	box-shadow: none;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1;
	outline-color: transparent;
	outline-style: none;
	padding: 1em 1em 0.9em;
	text-shadow: 0;
	width: 100%;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.wpcf7 input[type="submit"]:hover {
	opacity: 0.6;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

/* --- Topbar --- */
.topbar {
    background: #fff;
	border-bottom: 1px solid #e5e5e5;
	  -moz-box-shadow: 0 1px 5px rgba(190, 190, 190, 0.16);
	  -webkit-box-shadow: 0 1px 5px rgba(190, 190, 190, 0.16);
	  -o-box-shadow: 0 1px 5px rgba(190, 190, 190, 0.16);
	box-shadow: 0 1px 5px rgba(190, 190, 190, 0.16);
    overflow: hidden;
    padding: 8px 0;
}
.topbar-menu {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.topbar-menu > li {
    display: inline;
    margin-right: 20px;
}
.topbar-menu li a, .topbar .social a {
    color: #777;
}
.topbar-menu li a:hover, .topbar .social a:hover {
	color: #333;
}
.topbar .social a {
    margin: 0 0 0 10px;
}

/*--- Header ---*/
header {
    text-align: center;
}
header a {}
.site-header h1 {
	font-family: Dancing Script, sans-serif;
	font-size: 100px;
}
.site-header h2 {
	font-weight: normal;
	line-height: 1.846153846;
	color: #757575;
}
.site-branding .header-image {
	display: block;
	margin: 0 auto;
}
.site-branding {
	margin: 0;
	padding: 50px 0;
	text-align: center;
}
.custom-logo-link {
	display: block;
	padding: 0 0 15px;
}
.site-title {
	font-weight: 300;
	margin: 0;
}
.site-title a {
	text-decoration: none;
}
.site-description {
	font-size: 20px;
	margin: 0;
	padding-top: 8px;
}
.logo-header-wrapper, .logo-header-wrapper-center {
	padding: 28px 14px;
	padding: 2rem 1rem;
}
.logo-header-wrapper-center {
	text-align: center;
}
.image-header-wrapper {}

.container {
	-webkit-transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

/*--- Menu ---*/
#nav-wrapper {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    margin-bottom: 50px;
    position: relative;
}
.toggle-menu {
    display: none;
}
.vtmenu {
    padding: 0;
    text-align: center;
}
#nav-wrapper ul {
    list-style: outside none none;
    margin: 0;
}
#nav-wrapper .vtmenu li {
    display: inline-block;
    margin-right: 20px;
}
#nav-wrapper .vtmenu a {
    color: #333;
    display: block;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 50px;
    text-transform: uppercase;
}
#nav-wrapper .vtmenu .current-menu-item > a,
#nav-wrapper .vtmenu a:hover {
    color: #f88e86;
}
#nav-wrapper .menu-item-has-children {
    position: relative;
    z-index: 20;
}
#nav-wrapper .sub-menu {
    background: #fff;
    left: 0;
    margin: 0;
    min-width: 230px;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 100%;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.3s ease 0s;
    visibility: hidden;
}
#nav-wrapper .sub-menu .sub-menu {
    left: 100%;
    top: 0;
}
#nav-wrapper .sub-menu li {
    display: block;
	margin: 0;
}
#nav-wrapper .vtmenu .sub-menu a {
    border-top: 1px solid #eee;
    display: block;
    font-size: 11px;
    line-height: 40px;
    padding: 0 15px;
    transition: none 0s ease 0s;
    width: 100%;
    position: relative;
}
#nav-wrapper .vtmenu .sub-menu a .caret {
    border-style: solid;
    border-width: 4px;
    border-color: transparent transparent transparent #666;
    display: inline-block;
    height: 0;
    right: 15px;
    vertical-align: middle;
    width: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#nav-wrapper .sub-menu a:hover {
    color: #f88e86;
}

/*----- POST -----*/
#content .post-inner {
	background: #fff;
	border: 1px solid #eee;
	margin-bottom: 20px;
}
#content .post-inner, .widget{
	-moz-box-shadow: 0 5px 3px -5px rgba(190, 190, 190, 0.3);
	-webkit-box-shadow: 0 5px 3px -5px rgba(190, 190, 190, 0.3);
	-o-box-shadow: 0 5px 3px -5px rgba(190, 190, 190, 0.3);
    box-shadow: 0 5px 3px -5px rgba(190, 190, 190, 0.3);
}
#main.vt-blog-standard article {
	border: 1px solid #eee;
}
#content article {
	background: #fff;
    margin-bottom: 50px;
}
#content article:last-of-type {
	margin-bottom: 15px;
}
#content article .entry-content {
    padding: 20px 30px 0;
}
#content article .entry-title {
    line-height: 45px;
    margin: 0 0 5px;
    position: relative;
    text-align: center;
}
article .entry-title > a,
.slide-content .entry-title > a {
    color: #333;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: uppercase;
}
.slide-content .entry-title > a {
    color: #fff;
}
article a:hover,
.entry-meta a {
    color: #f88e86;
}
#content article .entry-meta {
    text-align: center;
}
.entry-meta a {
    margin: 0 10px;
}
#content article .entry-meta .post-date,
#content article .entry-meta .socials,
.slide-content .entry-meta .post-date,
.slide-content .entry-meta .socials {
    display: inline-block;
    margin: 0;
}
#content article .entry-meta .post-date {
    margin: 0 0 20px;
    padding: 0;
    text-align: center;
}
#content article .entry-meta .post-date time {
    color: #888;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 3px 7px;
    text-transform: capitalize;
}
#content article .entry-meta .socials,
.slide-content .entry-meta .socials {
    list-style: outside none none;
    margin: 0 0 0 15px;
    padding: 0;
}
#content article .entry-meta .socials li,
.slide-content .entry-meta .socials li {
    display: inline-block;
    margin-right: 15px;
}
#content article .entry-meta .socials li a,
.slide-content .entry-meta .socials li a {
    color: #888;
    font-size: 13px;
    text-decoration: none;
}
#content article .entry-meta .socials li a:hover {
    color: #f88e86;
}
#content article .entry-summary {
    color: #555;
    letter-spacing: 0.5px;
    line-height: 30px;
    margin: 30px 0;
    text-align: justify;
}
#content article .link-more {
    border-bottom: 1px solid;
    color: #888;
    display: inline-block;
    font-size: 10px;
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 30px;
    position: relative;
    text-transform: uppercase;
}
#content article .link-more:hover {
    color: #f88e86;
}
#content article .readmore {
    text-align: center;
    margin-bottom: 10px;
}
.single #content .nav-links {
	border: medium none;
}
.marlin-thumbnail {
    opacity: 1;
    position: relative;
}
.marlin-page-thumbnail img {
	display: block;
	margin: 0 auto;
}
.marlin-format-icon:hover {
    opacity: 1;
}
.marlin-format-icon {
    background: url(assets/images/bg_hover.png) repeat;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transition: opacity 600ms ease;
    -moz-transition: opacity 600ms ease;
    -ms-transition: opacity 600ms ease;
    -o-transition: opacity 600ms ease;
}
.marlin-thumbnail .marlin-categories {
    background-color: rgba(0, 0, 0, 0.20);
    bottom: 0;
    color: #fff;
    position: absolute;
    margin: 0;
    text-align: center;
    padding: 5px 10px;
    right: 0;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    z-index: 9;
}
.marlin-thumbnail .marlin-categories {
    left: 0;
    right: auto;
}
.marlin-thumbnail .marlin-categories:hover {
    background-color: rgba(0, 0, 0, 0.65);
}
.marlin-thumbnail .marlin-categories a {
    color: #fff;
    font-size: 12px;
    font-style: italic;
    font-family: Dancing Script;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.marlin-thumbnail .marlin-categories a:hover {
    border-bottom: 1px dotted;
}
.entry-footer {
    border: 1px dashed #eee;
    margin-bottom: 25px;
    padding: 15px;
    text-align: center;
}
.vt-post-tags {
    margin-bottom: 25px;
}
.entry-footer .post-time.pull-left {
    padding-right: 0;
}
.entry-footer .post-time.pull-left {
    border: medium none;
}
.entry-content .social-share a {
    background: #999 none repeat scroll 0 0;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 0 10px;
    width: 30px;
}
.post-footer > div {
    display: inline;
}
.entry-content .social-share a:hover,
.about-social a:hover {
    background-color: #f88e86;
    color: #fff;
    border-color: transparent;
}
.post-footer.entry-content::before {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

/*----- WIDGET -----*/
.widget {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eee;
    margin-bottom: 20px;
    padding: 20px 15px;
    position: relative;
}
.error-page .widget {
	margin-top: 20px;
}
.widget:last-child {
    margin-bottom: 0;
}
.widget-title {
    color: #333;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 25px;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
}
.widget-title::after {
    background: #ddd;
    content: "";
    height: 1px;
    margin-left: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.widget > ul {
    padding: 0;
    margin: 0;
}
.widget a:hover {
    color: #f88e86;
}

/*----- WIDGET ABOUT -----*/
.about-widget {
    text-align: center;
}
.about-img {
    margin-bottom: 10px;
}
.about-title {
    color: #333;
    font-size: 11px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}
.about-description {
    margin: 0;
    text-align: center;
}
.about-social a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 30px;
    color: #aaa;
    display: inline-block;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    margin: 0 5px 10px;
    text-align: center;
    width: 30px;
}
.about-social a:last-child {
    margin-right: 0;
}

/*----- WIDGET LATEST POSTS -----*/
.latest-post li,
.widget_categories ul li {
    border-bottom: 1px dashed #ebebeb;
    display: inline-block;
    line-height: 45px;
    width: 100%;
}
.latest-post li:last-child,
.widget_categories li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
.latest-post li .post-image {
    float: left;
    margin-right: 10px;
}
.latest-post li .post-image img {
    width: 100%;
}
.latest-post li .post-item-text {
    overflow: hidden;
}
.latest-post .post-item-text h4 {
    line-height: 25px;
    margin-bottom: 0;
}
.latest-post .post-item-text h4 a {
    color: #555;
    font-size: 13px;
}
.latest-post .post-item-text h4 a:hover {
    color: #f88e86;
}
.latest-post .post-item-text .entry-meta,
.entry-meta a {
    color: #aaa;
    font-family: Montserrat;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    padding: 0;
}
.latest-post .post-item-text .entry-meta {
    margin: 0;
    padding: 0;
}
.latest-post li {
    margin-bottom: 15px;
    padding-bottom: 15px;
}

/*--- Pagination ---*/
.pagination {
	display: block;
}
.nav-links {
	background: #fff;
	border: 1px solid #ededed;
    clear: both;
    margin: 10px 0 25px;
    overflow: hidden;
    padding: 10px;
}
.nav-links a {
    letter-spacing: 0.5px;
    position: relative;
}
.nav-links .page-numbers {
    padding: 0 15px;
}

.pagination .nav-links span {
	background: #f88e86;
	color: #fff;
	display: inline-block;
	margin: 0;
	padding: 5px 13px;
}
.pagination .nav-links a {
	background: #f4f3f4;
	color: #333;
	display: inline-block;
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 0.5px;
	margin: 0;
	padding: 5px 13px;
	position: relative;
	text-transform: uppercase;
}

.nav-links .older {
    text-align: left;
}
.nav-links .newer {
    text-align: right;
}
.nav-links a:hover {
    color: #999;
}
.nav-links .older a:before,
.nav-links .newer a:after {
    font-family: "FontAwesome";
    top: 50%;
    transform: translatey(-50%);
}
.nav-links .older a:before {
    content: "\f100";
    padding-right: 5px;
}
.nav-links .newer a:after {
    content: "\f101";
    padding-left: 5px;
}
.nav-previous, .nav-next {
	width: 50%;
}
.nav-previous {
	float: left;
	text-align: left;
}
.nav-next {
	float: right;
	text-align: right;
}

/* -------------------------------------------------- */
/* Accessibility
/* -------------------------------------------------- */
/* Text meant only for screen readers */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar */
}

/*----- COMMENTS -----*/
#comments .comment-list {
    padding: 0;
}
#comments ol.comment-list,
#comments .comment > ol.children {
    list-style: none;
}
.comment-list .comment-body {
    border-bottom: 1px dashed #e9e9e9;
    margin-bottom: 30px;
    padding: 25px 25px 25px 0;
}
.comment-body .comment-author {
    float: left;
    margin-right: 22px;
}
.comment-body .comment-author img {
    border-radius: 50%;
    max-width: 70px;
}
.comment-body .comment-content {
    overflow: hidden;
}
.comment-body .comment-content .author-name {
    color: #333;
    display: inline-block;
    font-size: 11px;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-right: 20px;
    text-transform: uppercase;
}
.comment-body .comment-content .author-name a {
    color: inherit;
}
.comment-body .date-comment {
    font-size: 12px;
    color: #999;
}
.comment-body .date-comment a {
    color: inherit;
}
.comment-body .comment-content .reply {
    float: right;
}
.comment-body .comment-content .reply a {
    background: #eee none repeat scroll 0 0;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    color: #111;
    font-size: 10px;
    font-weight: normal;
    letter-spacing: 0.75px;
    margin-left: 10px;
    padding: 5px 10px;
}
.comment-body .comment-content .reply a:hover {
    text-decoration: none;
}
.comment-body .comment-content .comment-text {
    letter-spacing: 0.75px;
    margin-top: 10px;
}
.comment-body .comment-content .comment-text p {
    margin-bottom: 10px;
    color: #666;
}
#commentform .input-form,
#commentform .textarea-form {
    border: 1px solid #eee;
    line-height: 35px;
    margin-bottom: 20px;
    padding: 0 10px;
    width: 100%;
}
textarea#message {
    min-height: 150px;
}
#cancel-comment-reply-link {
    font-size: 18px;
    margin-left: 15px;
}


/* --- Author Box --- */
.vt-post-author {
    margin-bottom: 50px;
}
.vt-post-author .author-content {
    text-align: left;
}
.vt-post-author .author-content .author-title > a {
    color: #111;
}
.vt-post-author .author-content .author-social {
    color: #888;
    margin-right: 10px;
}
.author-content > p {
    margin-bottom: 10px;
}

/* --- Posts related --- */
.post-related,
#comments,
#respond {
	text-align: left;
}
.post-related .entry-title {
    margin: 10px 0 0;
    text-align: center;
}
.post-related time {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.post-related {
    text-align: center;
}

/* -- Page -- */
.vt-page .entry-title.page-title {
    font-size: 20px;
    margin: 25px 0;
}
.vt-page {
    background: #fff none repeat scroll 0 0;
    overflow: hidden;
}
.page-header {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eee;
    line-height: 50px;
    margin: 0 0 30px;
	padding: 0;
    position: relative;
    text-align: center;
}
.page-header .page-title {
	font-size: 20px;
	margin: 8px 0;
}
.page #respond {
	padding: 0 30px 30px;
}

/*----- WIDGET CATEGORIES -----*/
.widget_categories li {
    color: #999;
    text-align: right;
}
.latest-post li,
.widget_categories ul li,
.widget_recent_comments li,
.widget_meta li {
    border-bottom: 1px dashed #ebebeb;
    display: inline-block;
    line-height: 45px;
    width: 100%;
}
.widget li:last-child {
    border-bottom: none;
}
.widget_categories ul li a {
    color: #333;
    float: left;
    font-size: 13px;
    letter-spacing: 0.5px;
}
.widget_categories ul li a:hover {
    color: #f88e86
}

/*--- TAGCLOUD ---*/
.tagcloud {
    text-align: center;
}
.tagcloud a,
.vt-post-tags a {
    border: 1px solid #eee;
    color: #666;
    display: inline-block;
    font-family: Montserrat;
    font-size: 10px !important;
    margin: 0 2px 5px;
    padding: 0 10px;
    text-align: center;
    text-transform: uppercase;
}

/*--- NAV MENU ---*/
.widget_nav_menu a,
.widget_pages a {
    border-bottom: 1px dashed #eee;
    color: #333;
    display: block;
    font-family: Montserrat;
    font-size: 11px;
    line-height: 40px;
    text-transform: uppercase;
}
.widget_mc4wp_widget input[type="email"] {
    line-height: 35px;
    padding: 0 5px;
    border: 1px solid #eee;
}

/*--- Mailchimp widget ---*/
.mc4wp-form label {
    color: #555;
    font-weight: 400;
    margin-bottom: 17px;
    text-align: center;
}
.widget_mc4wp_widget input[type="submit"] {
    background: #000 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 37px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.widget_mc4wp_widget input[type="submit"]:hover {
    background-color: #f88e86;
}
.widget_mc4wp_widget .mc-submit {
    margin: 0;
}

/*----- Footer -----*/
.site-footer {
    color: #fff;
    overflow: hidden;
    text-align: center;
}
.site-footer .null-instagram-feed {
    margin: 0;
    padding: 0;
}
.site-footer .null-instagram-feed .widget-title {
    display: none;
}
.copyright > p {
    margin: 0;
}
.copyright {
    color: #999;
    float: left;
	font-family: "Montserrat",sans-serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 30px 0;
    text-transform: uppercase;
    width: 100%;
}

/* -------------------------------------------------- */
/* Galleries
/* -------------------------------------------------- */
.gallery {
	margin-bottom: 1.5em;
}
.gallery-item {
	display: inline-block;
	margin-bottom: 10px;
	padding-right: 2.6%;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.gallery-item img {
	height: auto;
	width: 100%;
}
.gallery-columns-2 .gallery-item { max-width: 50%; }
.gallery-columns-3 .gallery-item { max-width: 33.33%; }
.gallery-columns-4 .gallery-item { max-width: 25%; }
.gallery-columns-5 .gallery-item { max-width: 20%; }
.gallery-columns-6 .gallery-item { max-width: 16.66%; }
.gallery-columns-7 .gallery-item { max-width: 14.28%; }
.gallery-columns-8 .gallery-item { max-width: 12.5%; }
.gallery-columns-9 .gallery-item { max-width: 11.11%; }
.gallery-caption {
	display: none;
}
.gallery-columns-3 .gallery-item:nth-child(3),
.gallery-columns-3 .gallery-item:nth-child(6),
.gallery-columns-3 .gallery-item:nth-child(9),
.gallery-columns-3 .gallery-item:nth-child(12),
.gallery-columns-3 .gallery-item:nth-child(15),
.gallery-columns-3 .gallery-item:nth-child(18) {
	padding-right: 0;
}

/* -------------------------------------------------- */
/* Media Queries
/* -------------------------------------------------- */
/* Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.
 */
@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}

@media (max-width: 985px) {
    .vtmenu {
        border: 0 none;
        display: none;
        left: 0;
        margin: 0;
        padding: 0 15px;
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 20;
    }
    #nav-wrapper .vtmenu li {
        background: #fff;
		border-top: 1px solid #eee;
        display: inline-block;
        float: left;
        line-height: inherit;
        margin: 0;
        text-align: left;
        width: 100%;
    }
    #nav-wrapper .vtmenu li a {
        border: medium none;
        color: #888;
        display: inline-block;
        line-height: 40px;
        padding-left: 15px;
        width: 100%;
    }
    #nav-wrapper .vtmenu .sub-menu a {
        border-color: transparent;
    }
    #nav-wrapper .vtmenu li a:hover {
        background: #fff;
    }
    #nav-wrapper .vtmenu .menu-item-has-children > a {
        position: relative;
    }
    #nav-wrapper .sub-menu {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        display: none;
        left: inherit;
        opacity: 1;
        padding-left: 15px;
        position: inherit;
        top: inherit;
        transform: none;
        visibility: inherit;
    }
    #nav-wrapper .vtmenu .caret::after {
        content: "\f107";
    }
    #nav-wrapper .sub-menu .dropdown > a .caret::after {
        content: "\f107";
    }
    #nav-wrapper .vtmenu .dropdown-toggle .caret,
    #nav-wrapper .sub-menu .dropdown > a .caret {
        border: medium none;
        height: 30px;
        padding: 5px;
        width: 30px;
    }
    #nav-wrapper .sub-menu .dropdown > a .caret {
        right: 0;
    }
    #nav-wrapper .vtmenu .dropdown-toggle .caret::after {
        color: #888;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
    }
    #nav-wrapper .vtmenu .caret::after {
        content: "\f107";
        font-family: "FontAwesome";
        font-size: 15px;
        left: inherit;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
    }
    #nav-wrapper .sub-menu .sub-menu {
        border: medium none;
        left: 0;
        position: relative;
        top: 0;
    }
    #nav-wrapper .sub-menu .dropdown > a .caret::after {
        content: "\f107";
    }
	/* Nav Toggle */
	.toggle-menu {
		display: inline-block;
        line-height: 50px;
        padding: 0 15px;
    }
	.nav-toggle {
		background-color: #f88e86;
		border-radius: 99px;
		box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
		display: block;
		height: 40px;
		margin: 5px auto;
		position: relative;
		width: 40px;
	}
	.nav-toggle .bar {
		width: 20px;
		height: 2px;
		background: #fff;
		border-radius: 1px;
		box-shadow: 0 1px 0 rgba(0,0,0,0.1);
		position: absolute;
		left: 50%;
		margin-left: -10px;
		top: 50%;
		-webkit-transition: opacity 0.2s linear 0.2s, margin 0.2s linear 0.2s, -webkit-transform 0.2s linear 0s;
		-moz-transition: opacity 0.2s linear 0.2s, margin 0.2s linear 0.2s, -moz-transform 0.2s linear 0s;
		-o-transition: opacity 0.2s linear 0.2s, margin 0.2s linear 0.2s, -o-transform 0.2s linear 0s;
		transition: opacity 0.2s linear 0.2s, margin 0.2s linear 0.2s, transform 0.2s linear 0s;
	}
	.nav-toggle .bar:nth-child(1) { margin-top: -7px; }
	.nav-toggle .bar:nth-child(2) { margin-top: -1px; }
	.nav-toggle .bar:nth-child(3) { margin-top: 5px; }
	.nav-toggle:hover { cursor: pointer; }
	.nav-toggle.active .bar { 
		background: #fff; 
		-webkit-transition: opacity 0.2s linear 0s, margin 0.2s linear 0s, -webkit-transform 0.2s linear 0.2s;
		-moz-transition: opacity 0.2s linear 0s, margin 0.2s linear 0s, -moz-transform 0.2s linear 0.2s;
		-o-transition: opacity 0.2s linear 0s, margin 0.2s linear 0s, -o-transform 0.2s linear 0.2s;
		transition: opacity 0.2s linear 0s, margin 0.2s linear 0s, transform 0.2s linear 0.2s;
	}
	.nav-toggle.active .bar:nth-child(1),
	.nav-toggle.active .bar:nth-child(3) { margin-top: -1px; }
	.nav-toggle.active .bar:nth-child(1) {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.nav-toggle.active .bar:nth-child(2) { 
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0; 
	}
	.nav-toggle.active .bar:nth-child(3) {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	
/* End @media ================================================================== */}

@media(min-width:768px) and (max-width:991px) {
	.site-header h1 {
		font-size: 75px;
	}
	.site-description {
		font-size: 17px;
	}
    .vt-blog-grid .post {
        width: 50%
    }
    .vt-blog-grid .post:nth-child(2n+1) {
        clear: both;
    }
/* End @media ================================================================== */}

@media (min-width: 768px) {
    .vtmenu {
        display: block;
    }
    #nav-wrapper .vtmenu .menu-item-has-children:hover > .sub-menu {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
/* End @media ================================================================== */}

@media (max-width: 767px) {
	.topbar .pull-left, .social.pull-right {
		text-align: center;
		width: 100%;
	}
	.topbar-menu {
		padding-bottom: 5px;
	}
	.site-branding {
		padding: 30px 0;
	}
    .toggle-menu {
        display: inline-block;
        line-height: 50px;
        padding: 0 15px;
    }
    .vtmenu {
        border: 0 none;
        display: none;
        left: 0;
        margin: 0;
        padding: 0 15px;
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 20;
    }
    #nav-wrapper .vtmenu li {
        background: #fff;
        display: inline-block;
        float: left;
        line-height: inherit;
        margin: 0;
        text-align: left;
        width: 100%;
    }
    #nav-wrapper .vtmenu li a {
        background: #fff;
        border: medium none;
        color: #888;
        display: inline-block;
        line-height: 40px;
        padding-left: 15px;
        width: 100%;
    }
    #nav-wrapper .vtmenu .sub-menu a {
        border-color: transparent;
    }
    #nav-wrapper .vtmenu .menu-item-has-children > a {
        position: relative;
    }
    #nav-wrapper .sub-menu {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        display: none;
        left: inherit;
        opacity: 1;
        padding-left: 15px;
        position: inherit;
        top: inherit;
        transform: none;
        visibility: inherit;
    }
    #nav-wrapper .vtmenu .caret::after {
        content: "\f107";
    }
    #nav-wrapper .sub-menu .dropdown > a .caret::after {
        content: "\f107";
    }
    #nav-wrapper .vtmenu .dropdown-toggle .caret,
    #nav-wrapper .sub-menu .dropdown > a .caret {
        border: medium none;
        height: 30px;
        padding: 5px;
        width: 30px;
    }
    #nav-wrapper .sub-menu .dropdown > a .caret {
        right: 0;
    }
    #nav-wrapper .vtmenu .dropdown-toggle .caret::after {
        color: #888;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
    }
    #nav-wrapper .vtmenu .caret::after {
        content: "\f107";
        font-family: "FontAwesome";
        font-size: 15px;
        left: inherit;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
    }
    #nav-wrapper .sub-menu .sub-menu {
        border: medium none;
        left: 0;
        position: relative;
        top: 0;
    }
    #nav-wrapper .sub-menu .dropdown > a .caret::after {
        content: "\f107";
    }
	#nav-wrapper {
		margin-bottom: 40px;
	}
    .vt-blog-grid .post {
        width: 100%
    }
	.site-footer {
		margin-top: 20px;
	}
	.chosen-container {
		display: inline;
	}
	#content article {
		margin-bottom: 25px;
	}
/* End @media ================================================================== */}

/* Maximum width of 640 pixels ----------- */
@media (max-width: 640px) {
	.site-header h1 {
		font-size: 35px;
	}
	.site-description {
		font-size: 13px;
	}
	#content article:last-of-type {
		margin-bottom: 0;
	}
	.pagination {
		margin: 10px 0;
	}
	.nav-links {
		margin: 5px 0 15px;
	}
/* End @media ================================================================== */}

/* Maximum width of 479 pixels ----------- */
@media (max-width: 479px) {
	.custom-logo {
		width: 85%;
	}
	.social-share.share-buttons > a {
		background: none;
		color: #ddd;
		display: inline;
		line-height: 1;
		margin: 0 3px;
	}
/* End @media ================================================================== */}


/* for advertisement */
.left {
    text-align: left;
    margin: 0 0 20px 0;
}

.center {
    text-align: center;
    margin: 0 0 50px 0;
}

.full {
    width: 100%;
    bottom: 50px;
    text-align: center;
    display: inline-block;
    margin: 50px 0 0 0;
}

.advertisement {
    
}